body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Zilla Slab', serif;
}

h1 {
   color: #66bfbf;
   font-size: 5.625rem;
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive; 
}
h2 {
    color: #66bfbf;
    font-family: 'B612 Mono', serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4f9f5;
    position: relative;
    padding-top: 100PX;
}
.pro {
    text-decoration: underline;
    color: #66bfbf;
}
.middle-container {
    margin: 100px 0;    
}
hr {
    border: dotted #000000 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.intro {
    width: 30%;
    margin: auto;
}
.btn {
    font-style: B612 Mono;
    color: #000000
}
a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
.skill-row {
    width:  50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.pro {
    text-decoration: underline;
}
.contact-message {
    width: 230px;
    margin: 40px auto 60px;
}
.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.btn {
    background: #11cdd4;
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    text-decoration: none;
}
#myBtn {
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }