body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.61;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
  
  }
  .bgimg-1 {
    background-image: url("eiger_mountain_grindelwald_switzerland_landscape-wallpaper-1366x768.jpg");
    min-height: 100%;
    min-width: 100%;
  }
  
  .bgimg-2 {
    background-image: url("beautiful_moon_2-wallpaper-1366x768.jpg");
    min-height: 400px;
  }
  
  .bgimg-3 {
    background-image: url("wave_4-wallpaper-1366x768.jpg");
    min-height: 400px;
  }
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  .para{
      text-align: center;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }
  
  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }
  }
  
  .top-panel::before{
    content: '╲╱';
    color: #fff;
    position: absolute;
    opacity: 0.8;
    text-shadow: 0 0 .5rem rgba(0,0,0,0.5);
    width: 6rem;
    font-size: 2rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    bottom: 2rem;
    margin-left: -3rem;
    left: 50%;
    animation: bounce 1s ease infinite;
  }
  
  @keyframes bounce {
    50% {
      transform: translateY(-50%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  .top-panel {
    /*width: 100%;
    height: 100vh;
    /*background: #111;*/
    position: sticky;
    bottom: 0px;
  }

  .social{
    margin:0px 630px;
    
    font-size:4rem;
  }
  